<div class="parent">
  <h2>Parent component</h2>
  Este es el componente padre. Contiene al componente hijo.
  Acá se muestra cómo el componente hijo le envía información al componente padre.

  <app-beverages></app-beverages>
</div>
<ul>
  <li *ngFor="let bev of beverages">{{ bev }}</li>
</ul>
<!-- Acá incluimos el componente hijo -->
<app-beverages [beverage]="currentBeverage" (newBeverageEvent)="addBeverage($event)"></app-beverages>
<div class="parent">
  <h2>Parent component</h2>
  <!-- Acá incluimos el componente hijo -->
  <app-beverages></app-beverages>
  <ul>
    <li *ngFor="let bev of beverages">{{ bev }}</li>
  </ul>
  <!-- Acá incluimos el componente hijo -->
  <app-beverages [beverage]="currentBeverage" (newBeverageEvent)="addBeverage($event)"></app-beverages>
</div>