<h1>Tutorial 8 - sincronización</h1>
<div class="container-fluid">
  <div class="row">
    <h2>Interpolación de variables</h2>
    <p>{{nombre}}</p>
    <p>Ejemplo de interpolación. Entre las dobles llaves tenemos la variable titulo.
      Esta variable es declarada en app.component.ts, donde también se le asigna un valor.
      La información fluye desde el ts al html.</p>
  </div>

  <div class="row">
    <div>
      <h2>Interpolación de cuentas</h2>
      <p>Ejemplo de interpolación de cuentas. Entre las dobles llaves tenemos una expresión.
        Esta expresión es evaluada y el resultado se interpola.</p>
      <p>7 * 8 = {{7 * 8}}</p>
    </div>
    <div>
      <p>Ejemplo de interpolación de función. Entre las dobles llaves tenemos un llamado a una función.
        <strong>La función está definida en el archivo ts, no en este template.</strong>
        La función retorna un valor, y ese valor se interpola entre las llaves dobles.
      </p>
      <p>suma(2, 2) = {{suma(2, 2)}}</p>
    </div>
  </div>
</div>