<div class="header">
  <ul class="menu">
    <li>
      <!--
        Acá no hay data binding. Todo es lo que parece ser, en su
        interpretación más obvia de HTML o JavaScript. Por ejemplo,
        src es el atributo src del tag img de HTML
        https://www.w3schools.com/tags/tag_img.asp
        A la derecha del atributo src está el operador de asignación
        =, y a la derecha del = hay una string. Sé que es una string
        porque está entre comillas "". Y es interpretada en su sentido
        más elemental, simplemente como una string común y corriente.
      -->
      <img class="logo" src="..\assets\img\logo\212 x 256.jpg" alt="" />
    </li>
    <li>Link 1</li>
    <li>Link 2</li>
    <li>Link 3</li>
  </ul>
</div>
