<div class="child">
  <h2>Child component</h2>
  <p>Este es el componente hijo, que está contenido en el componente padre.<br>
    La propiedad previousBeverage, que en este template está entre las dobles llaves,
    recibe su valor de la propiedad previousBeverage, definida en el archivo beverages.component.ts.<br>
    La propiedad currentBeverage, que en este template está entre las dobles llaves,
    es la propiedad currentBeverage, definida en el archivo beverages.component.ts.
    Recibe su valor por medio del property binding que está en el archivo app.component.html.
    Allí se ve cómo la propiedad currentBeverage del componente beverages que va entre [], está ligada a la propiedad
    currentBeverage del componente principal, que va entre "". Esa es la sintaxis correcta.
    La propiedad currentBeverage del componente principal recibe su valor en el archivo app.component.ts.
  </p>
  <p>
    Previous beverage: <strong>{{ previousBeverage }}</strong><br>
    Current beverage: <strong>{{ currentBeverage }}</strong>
  </p>
  <label for="beverage-input">Add a beverage</label>
  <input type="text" id="beverage-input" #newBeverage />
  <button (click)="addNewBeverage(newBeverage.value)">Add</button>
</div>